<div id="<%= dom_id province %>">
  <p>
    <strong>Name:</strong>
    <%= province.name %>
  </p>

  <p>
    <strong>Gst:</strong>
    <%= province.gst %>
  </p>

  <p>
    <strong>Pst:</strong>
    <%= province.pst %>
  </p>

  <p>
    <strong>Hst:</strong>
    <%= province.hst %>
  </p>

  <p>
    <strong>User:</strong>
    <%= province.user_id %>
  </p>

</div>
