
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :image %>
    <%= f.input :colour, collection: Product::COLOUR, prompt: "Select colour" %>
    <%= f.input :size %>
    <%= f.input :details %>
    <%= f.input :code %>
    <%= f.input :brand %>
    <%= f.input :sizeandfit %>
    <%= f.input :look %>
    <%= f.input :lookafterme %>
    <%= f.input :aboutme %>
    <%= f.association :category, prompt: "Select category" %>
  </div>
  <output id="list"></output>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
