<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= product.colour %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product.size %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= product.details %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= product.brand %>
  </p>

  <p>
    <strong>Sizeandfit:</strong>
    <%= product.sizeandfit %>
  </p>

  <p>
    <strong>Look:</strong>
    <%= product.look %>
  </p>

  <p>
    <strong>Lookafterme:</strong>
    <%= product.lookafterme %>
  </p>

  <p>
    <strong>Aboutme:</strong>
    <%= product.aboutme %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

</div>
