<!-- Footer -->
<footer class="footer navbar-inverse text-muted text-center">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>VIRK
          </h6>
          <p>
            Virk Shop is a global online fashion retailer offering thousands of styles across menswear
            so that you can stay ahead of the trends. Shop from our range of items including t-shirts, jeans,
            knitwear, sweats, coats and accessories; if you want it, we're pretty sure we've got it! With loads of
            styles landing each week and regular trend updates you can be sure to get the latest. #weareVirk.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <%= link_to "Men", men_path, class:"text-reset" %>
          </p>
          <p>
            <%= link_to "Women", women_path, class:"text-reset" %>
          </p>
          <p>
            <%= link_to "Kids", kids_path, class:"text-reset" %>
          </p>
          <p>
            <%= link_to "Accessories", accessories_path, class:"text-reset" %>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <%= link_to current_user do %>
              <i class="fa fa-user" aria-hidden="true"></i>
              Account
            <% end %>
          </p>
          <p>
            <%= link_to cart_path(@current_cart) do %>
              <i class="fa fa-cart-plus" aria-hidden="true"></i>
              Cart
            <% end %>
          </p>
          <p>
            <%= link_to orders_path do %>
              <i class="fa fa-heart" aria-hidden="true"></i>
              Orders
            <% end %>
          </p>
          <%= link_to users_path do %>
            <i class="fa fa-users" aria-hidden="true"></i>
            Users
          <% end %>
          <p>
            <a href="#!" class="text-reset">About</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Winnipeg, MB R3C 1J8, CA</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            virk@gmail.com.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 204 333 0000</p>
          <p><i class="fas fa-print me-3"></i> + 01 431 778 4123</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © <%= Date.current.year %> Copyright:
    <%= link_to "VIRK", root_path, class:"text-reset fw-bold" %> - All rights reserved
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->